* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	margin-bottom: 25px;
	margin-top: 15px;
	color: #404000;
}

h1, h2 {
	font-family: "Arial",Sans-serif;
	text-align: center;
}

.container {
	padding: 10px;
}

.row {
	width: 100%;
}

section {
	position: relative;
	border: 1px solid black;
	min-height: 180px;
	margin: 0px 10px 20px 10px;
}

h2 {
	position: absolute;
	width: 7em;
	height: 1.2em;
	margin-bottom: 15px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	right: 0px;
}

p {
	font-size: 18px;
	width: 95%;
	padding-top: 2em;
	padding-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
}

#menu1 {
	background-color: #ffa0a0;
}

#menu2 {
	background-color: #a0ffa0;
}

#menu3 {
	background-color: #c0c0c0;
}

#menu-title1 {
	background-color: #ff6000;
}

#menu-title2 {
	background-color: #00f030;
}

#menu-title3 {
	background-color: #808080;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}